header{
    background-color: rgb(91, 190, 91);
    height: 70px;
    width: 100%;
}
body{
    background-color: rgb(247, 237, 225);
}



.title1{
    font-family: Archangelsk;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color: white;
    font-size: 28px;
    margin: 0px 60px;
}

.title2{
    font-family: Archangelsk;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.text1{
    font-family: Archangelsk;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.text4{
    font-family: Archangelsk;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.img1{
    width: 40px;
    height: 40px;
}

.line{
    width: 90%;
    height: 0px;
    color: black;
    margin: 0 5%;
}

.row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-md-4- {
    width: 150px;
    height: 30px;
    background-color: yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.button{
    display: flex;
    justify-content: center;
}

.horse{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.line{
    width: 90%;
    height: 0px;
    color: black; 
}


.bgh{
    width: 400px;
    height: 350px;
    margin-left: 30%;
}

.add{
    width: 150px;
    height: 80px;
    background-color: greenyellow;
    margin-left: 25%;
}

.delete{
    width: 150px;
    height: 80px;
    background-color: red;
    margin: 15px;
}

.imgforest{
    background-image: url('image 2/forest.png');
    background-repeat: repeat-x;
   
    background-size: contain;
    height: 200px;
    width: 100%;
}